* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

.wrapper {
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 25px;
}

.wrapper-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.input-part {
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}

.inputtext {
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
}

.btn {
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background-color: #8e49e8;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    opacity: 0.6;
}

.btn:active {
    opacity: 1;
    pointer-events: auto;
}

.plan-list {
    max-height: 250px;
    overflow-y: auto;
}

.plan-list li {
    list-style: none;
    margin-right: 25px;
    height: 45px;
    line-height: 45px;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}

.plan-list li span {
    position: absolute;
    right: -45px;
    color: #fff;
    text-align: center;
    width: 45px;
    border-radius: 0 3px 3px 0;
    background-color: #e74c3c;
    cursor: pointer;
    transition: all 0.3s ease;
}

.plan-list li:hover span {
    right: 0;
}

.fas {

}

.fa-plus {

}

.fa-trash {

}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
}

.footerbtn {
    border: none;
    outline: none;
    background-color: #8e49e8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 10px;
    opacity: 0.6;
}

.footerbtn:active {
    opacity: 1;
    pointer-events: auto;
}